
.footer{
    width:100%;
    height: 200px;
}
#main{
    width: 1100px;
    margin: 0 auto;
}

.blank {
    clear: both;
    width: 100%;
    height: 30px;
}
#banner{
    overflow: hidden;
    position: relative;
}
.left-lunbo{
    float: left;
    width: 735px;
    height: 420px;
    position: relative;
}
.left-lunbo .hidelist{
    width: 735px;
    height: 420px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: all .5s linear
}
.left-lunbo .in{
    opacity: 1;
}
.my-a{
    text-decoration: none;

}
.my-span{
    display: block;
    height: 124px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 20px;
    width: 735px;
}
.my-span h3{
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    margin: 12px 0 0 0;
}
.my-span p{
    margin-top: 0;
    color: #fff;
    margin-bottom: 1rem;
}
.right-lunbo{
    float: right;
    width: 365px;
    height: 420px;
    background-color: #191919;
}
.js_lunbo{
    padding: 0;
    clear: both;
}

#banner .right-lunbo .js_lunbo li{
    width: 100%;
    height: 105px;
    border-bottom: 1px solid #333;
    position: relative;
    overflow: hidden;
}
#banner .right-lunbo .js_lunbo li a{
    text-decoration: none;
    color: #666;
    padding: 1rem;
   width: 100%;
   height: 100%;
   display: block;
    text-align: -webkit-match-parent;
}
#banner .right-lunbo .js_lunbo li:hover{
    border:2px solid #e30002;
}
#banner .right-lunbo .js_lunbo li.in-r{
    border:2px solid #e30002;
}
#banner .right-lunbo .js_lunbo li a div{
    position: absolute;
    left: 38px;
    top: 20px;
    z-index: 3;
    width: 298px;
}
#banner .right-lunbo .js_lunbo li a div span {
    display: block;
    width: 112px;
    height: 64px;
    float: left;
    overflow: hidden;
}
#banner .right-lunbo .js_lunbo li a div span>img{
    width: 100%;
    display: block;
}
#banner .right-lunbo .js_lunbo li a div h3{
    float: right;
    width: 172px;
    font-size: 15px;
    line-height: 30px;
    height: 60px;
    color: #ddd;
}
#banner .right-lunbo .js_lunbo li a div h3>span{
    color: #e30002;
    font-size: 15px;
    position: relative;
    left:110px;
    top:-30px;
}
/* 楼层滚动 */
#elevator{
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 80px;
    margin-top: -100px;
    height: 200px;
    transform:translateX(-680px)
}
#elevator>ul{
    text-align: center;
    top: 0;
    width:100px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
}
#elevator>ul>li{
    height:30px;
    font-size: 17px;
    box-sizing: content-box;
    color:#666;
    border:1px solid #ddd;
    transition-duration: .5s;
    border-radius: 10px;
    line-height:30px;
    cursor: pointer;
}
#elevator>ul>li:hover{
    background: rgba(255, 4, 4, 0.932);
    color: #e9e9e9;
}
#elevator>ul>li.light{
    background: rgba(255, 4, 4, 0.932);
    color: #e9e9e9;
}
/*热点明星*/
.hot{
    clear: both;
    width: 100%;
    margin: 35px 0 0 0;
    float: left;
}
.t-01{
    clear: both;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    height: 44px;
}
.hot .t-01 img{
    height: 30px;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}
.hot .t-01 h3{
    font-size: 21px;
    color: #333;
    line-height: 30px;
    float: left;
}
.hot .t-01 .menu {
    float: left;
    height: 24px;
    margin: 3px 0 0 38px;
    list-style: none;
    padding-left: 0;
    margin-left:38px; 
}
.hot .t-01 .menu li{
    float: left;
    font-size: 15px;
    color: #333;

}
.hot .t-01 .menu li a.on{
    background-color: #e30002;
    color: #fff;
}
.hot .t-01 .menu li a{
    border-radius: 20px;
    display: block;
    color: #333;
    height: 24px;
    line-height: 24px;
    padding: 0 11px;
    float: left;
    text-decoration: none;
}
.hot .t-01 .menu li a:hover
{
    background-color: #e30002;
    color: #fff;
}
.hot .t-01 .menu li i{
    width: 1px;
    height: 15px;
    float: left;
    background-color: #aaa;
    margin: 4.5px 7px 0 7px;
}
.hot .t-01 .more{
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #999;
    line-height: 24px;
    background: url(../img/index/more_01.png) no-repeat right center;
    padding: 0 13px 0 0;
    margin: 7px 0 0 0;
}
.hot .t-01 .more:hover{
    background: url(../img/index/more_02.png) no-repeat right center;
    color: red;
}
.hot .u-01{
    list-style: none;
    width: 100%;
    margin: 2px 0 0 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    clear:both;
    overflow: hidden;
}
.hot .u-01 li{
    width: 142px;
    height: 142px;
    position: relative;
    margin: 29px 0 0;
}
.hot .u-01 li a{
    text-decoration: none;
    color: #666;
}

.tx{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
}
.hot .u-01 li a .tx img{
    width: 100%;
    border: 0;
}

@keyframes myopacity
{
    from {opacity:0;}
    to {opacity:1;}
}
.hot .u-01 li a:hover .detail{
    animation: myopacity 0.4s;
    opacity:1;
}
 .detail{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(277,0,2,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 100%;
}
 .detail h3{
     width: 110px;
     font-size: 16px;
     color: #fff;
     text-align: center;
     height: 36px;
     line-height: 36px;
     margin: 10px auto 0 auto;
     overflow: hidden;
 }
.detail p{
    width: 110px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    height: 44px;
    line-height: 22px;
    margin: 0 auto;
    overflow: hidden;
}
.detail .tx-more{
    width: 60px;
    height: 20px;
    line-height: 20px;
    display: block;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: arial;
    margin: 10px auto 0 auto;
}
.detail .tx-more:hover{border:1px solid #fff;}
#news{
    clear: both;
    width: 100%;
    margin: 35px 0 0 0;
    float: left;
}
.starnew{
    clear: both;
    width: 100%;
}
.starnew_cd{
    width: 535px;
}
.blank2{
    width: 100%;
    height: 30px;
    clear: both;
}
.starnew .t_02 h3{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 18px;
    border-left: 3px solid #e30002;
    padding: 0 0 0 12px;
}
.starnew .t_02 i{
    width: 1px;
    height: 14px;
    display: block;
    background-color: #e9e9e9;
    float: left;
    margin: 2px 20px;
}
.starnew .t_02 a{
    float: left;
    font-size: 14px;
    color: #999;
}
.starnew .t_02 a:hover{
    color: #e30002;
}
ul.list {
    clear: both;
    width: 100%;
    margin: 6px 0 0 0;
    float: left;
    padding: 0;
}
ul.list li{
    clear: both;
    width: 100%;
    height: 129px;
    border-bottom: 1px dotted #ddd;
    margin: 19px 0 0 0;
    float: left;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.starnew .list li span.fl{
    width: 150px;
    height: 110px;
    display: block;
    overflow: hidden;
}
.starnew .list li span.fl img{
    width: 100%;
    display: block;
    border: 0px;
}
.starnew .list li span.fr{
    width: 370px;
    display: block;
}
span.fr a{
    text-decoration: none;
    color: #666;
}
span.fr a h3{
    font-size: 18px;
    color: #333;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
}
span.fr a h3:hover {
color:red;
}
span.fr p{
    font-size: 14px;
    color: #666;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    margin: 8px 0 0 0;
}
span.fr i.time{
    background: url(../img/index/time_01.png) no-repeat left center;
    padding: 0 0 0 19px;
    margin-right: 20px;
}
span.fr i{
    display: block;
    float: left;
    font-style: normal;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin: 5px 0 0 0;
}
ul.list1{
    clear: both;
    width: 100%;
    margin: 20px 0 0 0;
    padding-left:0;
}
ul.list1 li.w1{
    width: 300px;
    height: 510px;
    overflow: hidden;
    margin: 10px 0 0;
}
ul.list1 li.w2{
    width: 390px;
    height: 250px;
    overflow: hidden;
}
ul.list1 li.w2 img{
    width: 100%;
    height: 100%;
}
ul.list1 li{
    float: left;
    width: 190px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin: 10px 0 0 10px;
}
ul.list1 li h3{
    height: 44px;
    line-height: 44px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 22px;
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.list1 li a:hover h3 {
    color: #e30002;
}
.blank3{
    width: 100%;
    height: 40px;
    clear: both;
}
.star-id{
    clear: both;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.my-wz{
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.star-name{
    margin: 28px 0 43px 0;
    float: left;
    clear: both;
}
.star-name li{
    width: 80px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    float: left;
    margin: 15px 10.5px 0 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.star-name li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    color: #333;
}
.star-name li:hover{
    background-color: #e30002;
    border:0;
    text-decoration: none;
}
.star-name li:hover a{
    color: #fff;
}
#in_link{
    overflow: hidden;
}
#in_link p{
    float: left;
    line-height: 34px;
    font-size: 14px;
    color: #333;
}
#in_link b{
    width: 110px;
    font-size: 16px;
    display: block;
    color: #333;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    float: left;
    margin: 0 15px 0 0;
}
#in_link b i{
    width: 3px;
    height: 16px;
    display: block;
    background-color: #e30002;
    margin: 9px 11px 0 0;
    float: left;
}
#in_link b span{
    font-family: simsun;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 10px;
}
#in_link p a{
    color: #333;
    margin: 0 24px 0 0;
    display: inline-block;
    float: left;
}
#in_link p a:hover{
    color:#e30002;
}